extends @pug/base

append globals
    - pageName = 'home'
    - title = data[pageName]?.meta?.title ?? data.general.title
    - description = data[pageName]?.meta?.description ?? data.general.description
    - image = data[pageName]?.meta?.image ?? data.general.image

append vars
    - meta.keywords = data[pageName]?.meta?.keywords ?? data.general.keywords

    each linkValue, linkKey in data.general.link
        - link[linkKey] = linkValue

    each metaValue, metaKey in data.general.meta
        - meta[metaKey] = metaValue

block content
    .popup-form.is-hidden(data-item="lead-form")
        .popup-form-bg
        .popup-form-content.is-hidden
            .form

                .title-md.title-white
                    | Оставьте свои#[br] контакты,#[br] и мы рассчитаем стоимость#[br] проекта для вас
                    .popup-form-close
                        <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12.5808 10.1823L2.39851 0L0 2.39851L10.1823 12.5808L0 22.7632L2.39851 25.1617L12.5808 14.9794L22.7632 25.1617L25.1617 22.7632L14.9794 12.5808L25.1617 2.39851L22.7632 1.3487e-06L12.5808 10.1823Z" fill="white"/>
                        </svg>
                .form-input
                    input(placeholder="Имя и фамилия")
                .form-container
                    .form-input
                        input(placeholder="Номер телефона")
                    .form-input
                        input(placeholder="E-mail")

                .form-textarea
                    textarea(placeholder="Комментарий")
                button.form-button(type="submit") отправить
                .form-text
                    | Нажимая кнопку «Отправить», вы соглашаетесь с #[a(href="") политикой конфиденциальности]
                .form-success.is-hidden
                    .form-success-svg
                        <svg width="146" height="146" viewBox="0 0 146 146" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M145.5 73C145.5 113.041 113.041 145.5 73 145.5C32.9594 145.5 0.5 113.041 0.5 73C0.5 32.9594 32.9594 0.5 73 0.5C113.041 0.5 145.5 32.9594 145.5 73Z" fill="transparent" stroke="white"/>
                        <path d="M140.496 72.8116V73.1258C103.449 73.3936 73.452 103.399 73.1847 140.493H72.8704C72.6029 103.399 42.5951 73.3933 5.50781 73.1258V72.8116C42.6046 72.5442 72.6025 42.5395 72.8703 5.50488H73.1847C73.4525 42.549 103.46 72.5438 140.496 72.8116Z" fill="transparent" stroke="white"/>
                        </svg>

                    .title-md.title-white
                        | Заявка отправлена!
                    .text-form
                        | Мы свяжемся с вами в кратчайшие сроки, обсудим детали и договоримся о дате выезда на бесплатный замер
    .popup.is-hidden(data-item="1")
        .popup-bg
        .popup-content.is-hidden
            .popup-left
                .popup-slider.for-desktop
                    .popup-item
                        img(src=`${baseDir}assets/images/furniture/1.jpg` alt='')
                    .popup-item
                        img(src=`${baseDir}assets/images/furniture/1.jpg` alt='')
                    .popup-item
                        img(src=`${baseDir}assets/images/furniture/1.jpg` alt='')
                    .popup-item
                        img(src=`${baseDir}assets/images/furniture/1.jpg` alt='')
            .popup-right
                .popup-close
                    <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12.5808 10.1823L2.39851 0L0 2.39851L10.1823 12.5808L0 22.7632L2.39851 25.1617L12.5808 14.9794L22.7632 25.1617L25.1617 22.7632L14.9794 12.5808L25.1617 2.39851L22.7632 1.3487e-06L12.5808 10.1823Z" fill="#ADADAD"/>
                    </svg>

                .popup-title
                    | 2Белая
                    | современная кухня
                .popup-number
                    | 18.10.2022
                .popup-slider.for-devices
                    .popup-item
                        img(src=`${baseDir}assets/images/furniture/1.jpg` alt='')
                    .popup-item
                        img(src=`${baseDir}assets/images/furniture/1.jpg` alt='')
                    .popup-item
                        img(src=`${baseDir}assets/images/furniture/1.jpg` alt='')
                    .popup-item
                        img(src=`${baseDir}assets/images/furniture/1.jpg` alt='')
                .popup-info
                    .popup-line
                        .popup-param
                            | Площадь
                        .popup-value#area
                            | 12,5 м²
                    .popup-line
                        .popup-param
                            | Стоимость от
                        .popup-value#price
                            | 120 000 ₽
                .popup-button.js-popup-forms(data-popup="lead-form")
                    | хочу такую же!

    .site(data-scroll-container)

        include @components/header/header
        -
            const dataGallery = [
                {
                    title: 'Открытая гардеробная',
                    text: '18.10.2022'
                },
                {
                    title: 'Темная брутальная кухня',
                    text: '18.10.2022'
                },
                {
                    title: 'Белая современная кухня',
                    text: '18.10.2022'
                },
                {
                    title: 'Шкаф-пенал в прихожей',
                    text: '18.10.2022'
                },
                {
                    title: 'Светлая кухня с островом',
                    text: '18.10.2022'
                },
                {
                    title: 'Гардеробная в спальне',
                    text: '18.10.2022'
                },
                {
                    title: 'Светлая прямая кухня',
                    text: '18.10.2022'
                },
                {
                    title: 'Консоль и система хранения',
                    text: '18.10.2022'
                },
            ]
        .container
            ul.breadcrumbs
                li
                    a(href="/") Главная
                li
                    a(href='#')
                        | Фотогалерея
            .title
                | Фотогалерея
            .gallery.gallery--portfolio
                each item, index in dataGallery
                    .gallery-item.anim-fade.anim-fade--childs(data-scroll)
                        .gallery-img
                            .slider.slider--1.slider--xs
                                .slider-item.js-popup(data-project=`${index + 1}`)
                                    img(src=`${baseDir}assets/images/gallery/${index+1}.jpg` alt='')
                                .slider-item.js-popup(data-project=`${index + 1}`)
                                    img(src=`${baseDir}assets/images/gallery/${index+1}.jpg` alt='')
                                .slider-item.js-popup(data-project=`${index + 1}`)
                                    img(src=`${baseDir}assets/images/gallery/${index+1}.jpg` alt='')
                                .slider-item.js-popup(data-project=`${index + 1}`)
                                    img(src=`${baseDir}assets/images/gallery/${index+1}.jpg` alt='')
                        .title-xs
                            !=item.title
                        .text-xs
                            !=item.text
                        <div class="popup-info" style="display:none;">
                        <div class="title">Темная брутальная кухня</div>
                        <div class="date">18.10.2022</div>
                        <div class="area">12,5 м²</div>
                        <div class="price">120 000 ₽</div>
                        <div class="gallery">
                        <div class="item"><img src="1.jpg" alt=""></div>
                        <div class="item"><img src="2.jpg" alt=""></div>

                        </div>
                        </div>
            .load-more
                | загрузить ещЁ
        include @components/footer/footer
    .to-top
        <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="25" cy="25" r="24" fill="#B48C45" stroke="#005563" stroke-width="2"/>
        <path d="M13.096 30.2632C12.4713 30.1735 11.8331 30.1271 11.1843 30.1271L11.1843 29.8416C18.7344 29.8416 24.8661 23.5495 24.8661 15.7896L25.1293 15.7896C25.1293 23.5495 31.2561 29.8416 38.8159 29.8416L38.8159 30.1271C38.1667 30.1271 37.5281 30.1735 36.9031 30.2632L13.096 30.2632Z" fill="#005563"/>
        </svg>
