.index
    .index-cards
        .index-item.for-desktop
            <svg width="240" height="240" viewBox="0 0 240 240" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M240 240L0 240L0 0C132.455 0 240 107.537 240 240Z" fill="#B48C45"/>
            </svg>

        a.index-item(href=`${baseDir}portfolio`)
            .index-item--content
                .index-item--front
                    | ПРОЕКТЫ
                    br
                    | КУХОНЬ
                .index-item--side
                    | Готовые проекты, продуманные
                    | до мелочей
                    |
        //a.index-item.for-devices
        .index-item
            img(src=`${baseDir}assets/images/index/1.jpg` alt='')
        a.index-item(href=`${baseDir}for-designers`)
            .index-item--content
                .index-item--front
                    | ДИЗАЙНЕРАМ
                .index-item--side
                    | Станьте партнером на выгодных условиях

        .index-item
            img(src=`${baseDir}assets/images/index/2.jpg` alt='')
        a.index-item(href=`${baseDir}furniture`)
            .index-item--content
                .index-item--front
                    | ДРУГАЯ
                    br
                    | МЕБЕЛЬ
                .index-item--side
                    | Делаем не только кухни.
                    | А что ещё?
        .index-item.index-item--beige
        .index-item.for-desktop
        .index-item.for-desktop
            img(src=`${baseDir}assets/images/index/3.jpg` alt='')
        .index-item.index-item--beige.for-desktop
        a.index-item(href=`${baseDir}about`)
            .index-item--content
                .index-item--front
                    | О КОМПАНИИ
                .index-item--side
                    | О нашем подходе
                    | и производстве
                    |
        .index-item.index-item--beige
            <svg width="240" height="240" viewBox="0 0 240 240" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M240 240L240 6.65207e-05L7.32091e-06 0.000107374C3.11088e-05 132.455 107.537 240 240 240Z" fill="#B48C45"/>
            </svg>

        a.index-item(href=`${baseDir}process-page`)
            .index-item--content
                .index-item--front
                    | ЭТАПЫ
                    br
                    | РАБОТЫ
                .index-item--side
                    | Подробно рассказываем, как будет создаваться ваша кухня
        .index-item
            img(src=`${baseDir}assets/images/index/4.jpg` alt='')

        a.index-item(href=`${baseDir}gallery`)
            .index-item--content
                .index-item--front
                    | ФОТОГАЛЕРЕЯ
                .index-item--side
                    | Примеры готовых кухонь и корпусной мебели
        .index-item.for-desktop
            img(src=`${baseDir}assets/images/index/5.jpg` alt='')
        .index-item.for-desktop
            <svg width="240" height="240" viewBox="0 0 240 240" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M240 240L240 0L0 6.34039e-05C3.05176e-05 132.455 107.537 240 240 240Z" fill="#FACEC3"/>
            </svg>

        .index-item
            img(src=`${baseDir}assets/images/index/6.jpg` alt='')
        .index-item.index-item--brown
        .index-item
            img(src=`${baseDir}assets/images/index/7.jpg` alt='')
        .index-item.index-item--brown
        .index-item.for-desktop
            img(src=`${baseDir}assets/images/index/8.jpg` alt='')
        .index-item.for-desktop
            img(src=`${baseDir}assets/images/index/9.jpg` alt='')
        .index-item.index-item--beige.for-desktop
            <svg width="240" height="240" viewBox="0 0 240 240" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M240 0H0V240H240V0ZM239.127 239.116L239.127 1.90039C108.201 1.90038 1.91154 108.198 1.91153 239.116H239.127Z" fill="#FACEC3"/>
            </svg>


