.container
    ul.breadcrumbs
        li
            a(href="/") Главная
        li
            a(href='#')
                | Другая мебель
    h1.title
        | Другая мебель
    .furniture
        .furniture-item.furniture-item--color.anim-fade(data-scroll data-scroll-offset="50%")
            .furniture-left
                .furniture-icon
                    <svg width="120" height="120" viewBox="0 0 120 120" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill="transparent" d="M119.5 59.8928V60.0534C86.8225 60.3209 60.3698 86.7815 60.1028 119.5H59.9421C59.6749 86.781 33.2127 60.3206 0.5 60.0534V59.8928C33.2209 59.6257 59.6746 33.1662 59.9421 0.5H60.1028C60.3703 33.1745 86.8319 59.6254 119.5 59.8928Z" stroke="white"/>
                    </svg>

                .furniture-title
                    | КОРПУСНАЯ МЕБЕЛЬ
                .furniture-text
                    | Если вы уже заказали у нас кухню, то вы знаете, что такое качество мебели Elegana. Чтобы избавить вас от головной боли, мы можем сделать для вас уникальные шкафы, тумбы, комоды и другую корпусную мебель. У предметов, созданных на заказ, много преимуществ — они идеально подойдут по размерам и будут служить дольше товаров масс-маркета.
                a.furniture-link(href="")
                    | ЗАКАЗАТЬ
            .furniture-right
                .slider.slider--1
                    .slider-item
                        img(src=`${baseDir}assets/images/furniture/1.jpg` alt='')
                    .slider-item
                        img(src=`${baseDir}assets/images/furniture/1.jpg` alt='')
                    .slider-item
                        img(src=`${baseDir}assets/images/furniture/1.jpg` alt='')
                    .slider-item
                        img(src=`${baseDir}assets/images/furniture/1.jpg` alt='')
        .furniture-item.anim-fade(data-scroll data-scroll-offset="50%")
            .furniture-left

                .furniture-title
                    | ВСТРАИВАЕМАЯ МЕБЕЛЬ
                .furniture-text
                    | Мы можем воплотить для вас гардеробные, шкафы купе, скрытое хранение так, чтобы все было максимально удобно и, конечно же, элегантно!
                a.furniture-link(href="")
                    | ЗАКАЗАТЬ
            .furniture-right
                .slider.slider--2
                    .slider-item
                        img(src=`${baseDir}assets/images/furniture/2.jpg` alt='')
                    .slider-item
                        img(src=`${baseDir}assets/images/furniture/2.jpg` alt='')
                    .slider-item
                        img(src=`${baseDir}assets/images/furniture/2.jpg` alt='')
                    .slider-item
                        img(src=`${baseDir}assets/images/furniture/2.jpg` alt='')
        .furniture-item.anim-fade(data-scroll data-scroll-offset="50%")
            .furniture-left

                .furniture-title
                    | СТЕНОВЫЕ ПАНЕЛИ
                .furniture-text
                    | Эти элементы декора легко монтируются и мгновенно преображают интерьер. Мы поддержим любые уникальные дизайнерские решения и изготовим декоративные стеновые панели для вашего дома.
                a.furniture-link(href="")
                    | ЗАКАЗАТЬ
            .furniture-right
                .slider.slider--3
                    .slider-item
                        img(src=`${baseDir}assets/images/furniture/3.jpg` alt='')
                    .slider-item
                        img(src=`${baseDir}assets/images/furniture/3.jpg` alt='')
                    .slider-item
                        img(src=`${baseDir}assets/images/furniture/3.jpg` alt='')
                    .slider-item
                        img(src=`${baseDir}assets/images/furniture/3.jpg` alt='')
