.container
    ul.breadcrumbs
        li
            a(href="/") Главная
        li
            a(href='#')
                | Этапы работы
    h1.title
        | этапы работы
    p.text
        | Процесс создания кухни абсолютно прозрачный и устроен так, чтобы вы получили максимум удовольствия от взаимодействия с нами и создания кухни вашей мечты

    .process
        .process-item(data-scroll data-scroll-repeat data-scroll-offset="50%")
            .process-img
                img(src=`${baseDir}assets/images/process/1.jpg` alt='' data-scroll data-scroll-speed="-1.5")
            .process-content
                .process-svg.process-svg--1
                    <svg width="101" height="86" viewBox="0 0 101 86" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect x="0.5" y="15.5" width="84" height="54" rx="4.5" stroke="#005563"/>
                    <circle cx="25.5" cy="43.5" r="5" stroke="#005563"/>
                    <path d="M47.5 43.5C47.5 46.3073 45.4415 48.5 43 48.5C40.5585 48.5 38.5 46.3073 38.5 43.5C38.5 40.6927 40.5585 38.5 43 38.5C45.4415 38.5 47.5 40.6927 47.5 43.5Z" stroke="#005563"/>
                    <path d="M64.5 43.5C64.5 46.3073 62.4415 48.5 60 48.5C57.5585 48.5 55.5 46.3073 55.5 43.5C55.5 40.6927 57.5585 38.5 60 38.5C62.4415 38.5 64.5 40.6927 64.5 43.5Z" stroke="#005563"/>
                    <path d="M10 70V84L27 70" stroke="#005563"/>
                    <path d="M96.932 14.9974C90.8105 16.2848 85.9845 20.9251 84.6917 26.8265C83.3988 20.9249 78.5726 16.2845 72.4508 14.9972C78.5723 13.7093 83.3984 9.06708 84.6915 3.1709C85.9841 9.06978 90.8103 13.71 96.932 14.9974Z" fill="#B48C45" stroke="#005563"/>
                    </svg>


                .process-step
                    | шаг 1.
                .process-title
                    | ЗАЯВКА
                .process-text
                    | Вы оставляете заявку, проходите квиз или просто связываетесь с нами с помощью телефона или мессенджеров. Ценим ваше желание сделать уникальную кухню и ответим в кратчайшие сроки!

        .process-item(data-scroll data-scroll-repeat data-scroll-offset="50%")
            .process-img
                img(src=`${baseDir}assets/images/process/2.jpg` alt='' data-scroll data-scroll-speed="-1.5")
            .process-content
                .process-svg.process-svg--2
                    <svg width="126" height="53" viewBox="0 0 126 53" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M110 53V26C110 19.9249 105.075 15 99 15H1V53" stroke="currentColor"/>
                    <line x1="7.5" y1="15" x2="7.5" y2="24" stroke="currentColor"/>
                    <line x1="55.5" y1="15" x2="55.5" y2="24" stroke="currentColor"/>
                    <line x1="31.5" y1="15" x2="31.5" y2="24" stroke="currentColor"/>
                    <line x1="79.5" y1="15" x2="79.5" y2="24" stroke="currentColor"/>
                    <line x1="13.5" y1="15" x2="13.5" y2="24" stroke="currentColor"/>
                    <line x1="61.5" y1="15" x2="61.5" y2="24" stroke="currentColor"/>
                    <line x1="37.5" y1="15" x2="37.5" y2="24" stroke="currentColor"/>
                    <line x1="85.5" y1="15" x2="85.5" y2="24" stroke="currentColor"/>
                    <line x1="103.5" y1="17" x2="103.5" y2="24" stroke="currentColor"/>
                    <line x1="19.5" y1="15" x2="19.5" y2="24" stroke="currentColor"/>
                    <line x1="67.5" y1="15" x2="67.5" y2="24" stroke="currentColor"/>
                    <line x1="43.5" y1="15" x2="43.5" y2="24" stroke="currentColor"/>
                    <line x1="91.5" y1="15" x2="91.5" y2="24" stroke="currentColor"/>
                    <line x1="25.5" y1="15" x2="25.5" y2="33" stroke="currentColor"/>
                    <line x1="73.5" y1="15" x2="73.5" y2="33" stroke="currentColor"/>
                    <line x1="49.5" y1="15" x2="49.5" y2="33" stroke="currentColor"/>
                    <line x1="97.5" y1="15" x2="97.5" y2="33" stroke="currentColor"/>
                    <path d="M121.932 14.9974C115.81 16.2848 110.985 20.9251 109.692 26.8265C108.399 20.9249 103.573 16.2845 97.4508 14.9972C103.572 13.7093 108.398 9.06708 109.692 3.1709C110.984 9.06978 115.81 13.71 121.932 14.9974Z" fill="#B48C45" stroke="currentColor"/>
                    </svg>


                .process-step
                    | шаг 2.
                .process-title
                    | БЕСПЛАТНЫЕ ЗАМЕРЫ
                .process-text
                    | Выезжаем на бесплатный замер. Проведем с вами личную встречу, покажем образцы, снимем необходимые мерки.
        .process-item(data-scroll data-scroll-repeat data-scroll-offset="50%")
            .process-img
                img(src=`${baseDir}assets/images/process/3.jpg` alt='' data-scroll data-scroll-speed="-1.5")
            .process-content
                .process-svg.process-svg--3
                    <svg width="108" height="90" viewBox="0 0 108 90" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect x="63.9085" y="15.5282" width="28.5211" height="32.7465" stroke="currentColor" stroke-width="1.05634"/>
                    <rect x="63.9085" y="51.4432" width="28.5211" height="32.7465" stroke="currentColor" stroke-width="1.05634"/>
                    <rect x="32.2181" y="51.4432" width="28.5211" height="32.7465" stroke="currentColor" stroke-width="1.05634"/>
                    <rect x="0.528169" y="51.4432" width="28.5211" height="32.7465" stroke="currentColor" stroke-width="1.05634"/>
                    <line x1="7.39453" y1="55.6691" x2="21.1269" y2="55.6691" stroke="currentColor" stroke-width="1.05634"/>
                    <line x1="37.4998" y1="55.1406" x2="37.4998" y2="60.4223" stroke="currentColor" stroke-width="1.05634"/>
                    <line x1="69.1903" y1="55.1406" x2="69.1903" y2="60.4223" stroke="currentColor" stroke-width="1.05634"/>
                    <line x1="69.1903" y1="39.2959" x2="69.1903" y2="44.5776" stroke="currentColor" stroke-width="1.05634"/>
                    <rect x="0.528169" y="84.1903" width="91.9014" height="5.28169" stroke="currentColor" stroke-width="1.05634"/>
                    <path d="M104.589 14.9974C98.547 16.2832 93.786 20.9136 92.5 26.7996C91.214 20.9134 86.4527 16.2829 80.4104 14.9972C86.4524 13.7109 91.2136 9.07859 92.4998 3.19782C93.7856 9.08127 98.5468 13.7115 104.589 14.9974Z" fill="#B48C45" stroke="currentColor"/>
                    </svg>


                .process-step
                    | шаг 3.
                .process-title
                    | БЕСПЛАТНЫЙ ДИЗАЙН-ПРОЕКТ
                .process-text
                    | Наконец вы сможете увидеть, как будет выглядеть кухня вашего дома! Рассчитаем нужное количество полочек, предложим лучшие материалы, позаботимся о функционале и эргономике.
        .process-item(data-scroll data-scroll-repeat data-scroll-offset="50%")
            .process-img
                img(src=`${baseDir}assets/images/process/4.jpg` alt='' data-scroll data-scroll-speed="-1.5")
            .process-content
                .process-svg.process-svg--4
                    <svg width="102" height="106" viewBox="0 0 102 106" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M97.932 14.9974C91.8105 16.2848 86.9845 20.9251 85.6917 26.8265C84.3988 20.9249 79.5726 16.2845 73.4508 14.9972C79.5723 13.7093 84.3984 9.06708 85.6915 3.1709C86.9841 9.06978 91.8103 13.71 97.932 14.9974Z" fill="#B48C45" stroke="currentColor"/>
                    <path d="M86.7297 64.492C88.0768 64.795 88.9232 66.1326 88.6203 67.4796C87.9011 70.6775 84.3114 76.3152 76.1129 75.8208C73.3821 75.6562 71.9447 76.468 71.168 77.2399C70.3125 78.0902 69.9922 79.1589 69.9527 79.7688C69.8636 81.1467 68.6743 82.1914 67.2965 82.1022C65.9187 82.0131 64.874 80.8238 64.9631 79.446C65.07 77.7938 65.8059 75.5197 67.6433 73.6935C69.5595 71.7891 72.4516 70.591 76.4138 70.8299C81.6015 71.1427 83.427 67.7839 83.7421 66.3826C84.0451 65.0355 85.3827 64.1891 86.7297 64.492Z" stroke="currentColor" stroke-linecap="round"/>
                    <path d="M11.1237 72.2785C11.499 71.26 12.6146 70.744 13.6154 71.1259C16.0401 72.0513 21.1465 75.3346 22.9209 81.4742C23.2224 82.5178 22.6357 83.6125 21.6103 83.9195C20.5848 84.2264 19.5091 83.6292 19.2075 82.5857C17.8854 78.011 13.9603 75.4645 12.2563 74.8142C11.2555 74.4323 10.7485 73.297 11.1237 72.2785Z" stroke="currentColor" stroke-linecap="round"/>
                    <path d="M79.8942 56.3484C80.9316 56.6677 81.5075 57.7535 81.1805 58.7736C80.3884 61.2451 77.3877 66.5224 71.3536 68.6281C70.328 68.986 69.203 68.4596 68.8407 67.4524C68.4785 66.4452 69.0163 65.3386 70.0419 64.9807C74.5379 63.4118 76.8672 59.354 77.4238 57.6171C77.7508 56.5971 78.8568 56.029 79.8942 56.3484Z" stroke="currentColor" stroke-linecap="round"/>
                    <path d="M65.2411 87.5H76.5V105.5H0.5V87.5H12.2345C12.2838 87.5699 12.3449 87.6541 12.4182 87.7513C12.6439 88.0505 12.9853 88.4724 13.4553 88.9745C14.3952 89.9787 15.8496 91.304 17.9207 92.6104C22.0681 95.2264 28.6657 97.7523 38.5128 97.4998C48.3462 97.2477 55.0534 94.7247 59.314 92.2446C61.4428 91.0055 62.9571 89.7793 63.943 88.8574C64.436 88.3965 64.7969 88.0118 65.0365 87.7395C65.1189 87.6459 65.187 87.5655 65.2411 87.5Z" stroke="currentColor"/>
                    <rect x="30.5" y="27.5" width="42" height="12" stroke="currentColor"/>
                    <rect x="37.5" y="39.5" width="29" height="8" stroke="currentColor"/>
                    <path d="M37.8742 47.5L47.286 63.5H56.714L66.1258 47.5H37.8742Z" stroke="currentColor"/>
                    <path d="M47.5 63.5H56.5V86.7597L52 90.3597L47.5 86.7597V63.5Z" stroke="currentColor"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M17.6787 58.0712C18.1915 56.7893 19.6465 56.1657 20.9284 56.6785C23.2651 57.6132 26.6827 59.5287 29.5586 62.3356C32.4338 65.1418 34.9999 69.0795 34.9999 73.9997C34.9999 77.4963 36.0061 79.3197 36.9174 80.257C37.8747 81.2416 38.9637 81.4997 39.4999 81.4997C40.8806 81.4997 41.9999 82.619 41.9999 83.9997C41.9999 85.3804 40.8806 86.4997 39.4999 86.4997C37.7029 86.4997 35.2919 85.7578 33.3324 83.7424C31.3271 81.6797 29.9999 78.5031 29.9999 73.9997C29.9999 70.9199 28.3994 68.1909 26.0663 65.9138C23.7338 63.6373 20.9015 62.0529 19.0715 61.3209C17.7895 60.8081 17.166 59.3532 17.6787 58.0712Z" stroke="currentColor" stroke-linecap="round"/>
                    <path d="M47.5 72.5L56.5 66.5" stroke="currentColor" stroke-linecap="round"/>
                    <path d="M47.5 80L56.5 74" stroke="currentColor" stroke-linecap="round"/>
                    <path d="M47.5 86L56.5 80" stroke="currentColor" stroke-linecap="round"/>
                    </svg>


                .process-step
                    | шаг 4.
                .process-title
                    | ПРОИЗВОДСТВО
                .process-text
                    | Мы понимаем, как для вас важно четкое соблюдение сроков  во время ремонта. Поэтому мы организовали собственное производство, чтобы не зависить от субподрядчиков. Ваша кухня будет установлена в тот срок, о которым мы с вами договорились.
        .process-item(data-scroll data-scroll-repeat data-scroll-offset="50%")
            .process-img
                img(src=`${baseDir}assets/images/process/5.jpg` alt='' data-scroll data-scroll-speed="-1.5")
            .process-content
                .process-svg.process-svg--5
                    <svg width="116" height="114" viewBox="0 0 116 114" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M112.589 14.9974C106.547 16.2832 101.786 20.9136 100.5 26.7996C99.214 20.9134 94.4527 16.2829 88.4104 14.9972C94.4524 13.7109 99.2136 9.07859 100.5 3.19782C101.786 9.08127 106.547 13.7115 112.589 14.9974Z" fill="#B48C45" stroke="#005563"/>
                    <path stroke="transparent" d="M22.6859 26.8508L22.3323 26.4972L22.6859 26.1437L23.0394 26.4972L22.6859 26.8508ZM15.4589 34.0777L15.1054 34.4312L14.7518 34.0777L15.1054 33.7241L15.4589 34.0777ZM24.2908 28.4557L24.6444 28.8093L24.2908 29.1628L23.9373 28.8093L24.2908 28.4557ZM29.9124 22.8341L29.5589 22.4805L29.7408 22.2986L29.9946 22.3409L29.9124 22.8341ZM39.5484 24.4401L39.7773 24.8845L39.6298 24.9605L39.4662 24.9333L39.5484 24.4401ZM52.7977 17.6146L52.5688 17.1701L52.8932 17.003L53.1513 17.2611L52.7977 17.6146ZM53.6007 18.4176L53.9543 18.0641L54.3078 18.4176L53.9543 18.7712L53.6007 18.4176ZM33.9267 38.0916L33.5732 38.4452L33.2196 38.0916L33.5732 37.7381L33.9267 38.0916ZM78.8953 83.0602L78.6984 83.5198L78.6099 83.4819L78.5418 83.4138L78.8953 83.0602ZM84.5163 85.4692L84.7132 85.0096L84.8017 85.0476L84.8698 85.1157L84.5163 85.4692ZM88.9327 89.8857L89.2863 89.5321L89.6398 89.8857L89.2863 90.2392L88.9327 89.8857ZM80.0998 98.7186L80.4534 99.0721L80.0998 99.4257L79.7463 99.0721L80.0998 98.7186ZM26.6998 45.3185L26.3462 44.965L26.6998 44.6114L27.0533 44.965L26.6998 45.3185ZM13.0496 58.9687L13.4032 59.3223L13.3197 59.4058L13.2077 59.4431L13.0496 58.9687ZM10.6406 59.7717L10.7987 60.2461L10.5056 60.3438L10.2871 60.1253L10.6406 59.7717ZM2.6107 51.7418L2.25715 52.0954L2.03864 51.8769L2.13636 51.5837L2.6107 51.7418ZM3.41369 49.3328L2.93935 49.1747L2.97668 49.0627L3.06014 48.9793L3.41369 49.3328ZM17.0639 35.6826L17.4174 35.3291L17.771 35.6826L17.4174 36.0362L17.0639 35.6826ZM23.0394 27.2043L15.8125 34.4312L15.1054 33.7241L22.3323 26.4972L23.0394 27.2043ZM23.9373 28.8093L22.3323 27.2043L23.0394 26.4972L24.6444 28.1022L23.9373 28.8093ZM30.266 23.1876L24.6444 28.8093L23.9373 28.1022L29.5589 22.4805L30.266 23.1876ZM39.4662 24.9333L29.8302 23.3273L29.9946 22.3409L39.6306 23.9469L39.4662 24.9333ZM53.0267 18.0591L39.7773 24.8845L39.3194 23.9956L52.5688 17.1701L53.0267 18.0591ZM53.2472 18.7712L52.4442 17.9682L53.1513 17.2611L53.9543 18.0641L53.2472 18.7712ZM33.5732 37.7381L53.2472 18.0641L53.9543 18.7712L34.2803 38.4452L33.5732 37.7381ZM78.5418 83.4138L33.5732 38.4452L34.2803 37.7381L79.2489 82.7067L78.5418 83.4138ZM84.3193 85.9288L78.6984 83.5198L79.0923 82.6007L84.7132 85.0096L84.3193 85.9288ZM88.5792 90.2392L84.1627 85.8228L84.8698 85.1157L89.2863 89.5321L88.5792 90.2392ZM79.7463 98.365L88.5792 89.5321L89.2863 90.2392L80.4534 99.0721L79.7463 98.365ZM27.0533 44.965L80.4534 98.365L79.7463 99.0721L26.3462 45.6721L27.0533 44.965ZM12.696 58.6152L26.3462 44.965L27.0533 45.6721L13.4032 59.3223L12.696 58.6152ZM10.4825 59.2974L12.8915 58.4944L13.2077 59.4431L10.7987 60.2461L10.4825 59.2974ZM2.96425 51.3883L10.9942 59.4182L10.2871 60.1253L2.25715 52.0954L2.96425 51.3883ZM3.88803 49.4909L3.08504 51.8999L2.13636 51.5837L2.93935 49.1747L3.88803 49.4909ZM17.4174 36.0362L3.76724 49.6864L3.06014 48.9793L16.7103 35.3291L17.4174 36.0362ZM15.8125 33.7241L17.4174 35.3291L16.7103 36.0362L15.1054 34.4312L15.8125 33.7241Z" fill="#005563"/>
                    <path d="M33.9272 38.0908L26.7003 45.3178" stroke="#005563"/>
                    <path d="M24.291 28.4551L17.0641 35.682" stroke="#005563"/>
                    <path d="M76.7199 24.1376C80.5184 20.3391 86.6769 20.3391 90.4754 24.1376C94.2738 27.936 94.2738 34.0945 90.4754 37.893L71.798 56.5704L58.4839 65.043C58.2861 65.1688 58.0276 65.1404 57.8619 64.9747L49.6382 56.7511C49.4725 56.5853 49.4441 56.3268 49.5699 56.1291L58.0425 42.815L76.7199 24.1376Z" fill="#F5F5F5" stroke="#005563"/>
                    <rect x="49.5684" y="56.3946" width="12.2344" height="2.60937" rx="0.5" transform="rotate(45 49.5684 56.3946)" fill="#F5F5F5" stroke="currentColor"/>
                    <mask id="path-7-inside-1_505_1446" fill="white">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M53.8218 63.3433L51.2696 60.7911L24.2533 87.8074L19.0457 91.3137L15.539 96.5218L18.0912 99.0741L23.2994 95.5674L26.8061 90.3592L26.806 90.3591L53.8218 63.3433Z"/>
                    </mask>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M53.8218 63.3433L51.2696 60.7911L24.2533 87.8074L19.0457 91.3137L15.539 96.5218L18.0912 99.0741L23.2994 95.5674L26.8061 90.3592L26.806 90.3591L53.8218 63.3433Z" fill="#F5F5F5"/>
                    <path d="M51.2696 60.7911L51.9767 60.084L51.2696 59.3769L50.5625 60.084L51.2696 60.7911ZM53.8218 63.3433L54.5289 64.0504L55.236 63.3433L54.5289 62.6362L53.8218 63.3433ZM24.2533 87.8074L24.8118 88.6369L24.892 88.5828L24.9604 88.5145L24.2533 87.8074ZM19.0457 91.3137L18.4872 90.4842L18.3252 90.5932L18.2162 90.7552L19.0457 91.3137ZM15.539 96.5218L14.7095 95.9633L14.2495 96.6465L14.8319 97.229L15.539 96.5218ZM18.0912 99.0741L17.3841 99.7812L17.9665 100.364L18.6497 99.9036L18.0912 99.0741ZM23.2994 95.5674L23.8579 96.3969L24.0198 96.2878L24.1289 96.1259L23.2994 95.5674ZM26.8061 90.3592L27.6356 90.9177L28.0956 90.2345L27.5132 89.6521L26.8061 90.3592ZM26.806 90.3591L26.0989 89.652L25.3918 90.3591L26.0989 91.0662L26.806 90.3591ZM50.5625 61.4982L53.1147 64.0504L54.5289 62.6362L51.9767 60.084L50.5625 61.4982ZM24.9604 88.5145L51.9767 61.4982L50.5625 60.084L23.5462 87.1002L24.9604 88.5145ZM23.6948 86.9779L18.4872 90.4842L19.6042 92.1432L24.8118 88.6369L23.6948 86.9779ZM18.2162 90.7552L14.7095 95.9633L16.3685 97.0804L19.8752 91.8722L18.2162 90.7552ZM14.8319 97.229L17.3841 99.7812L18.7983 98.367L16.2461 95.8147L14.8319 97.229ZM18.6497 99.9036L23.8579 96.3969L22.7409 94.7379L17.5327 98.2446L18.6497 99.9036ZM24.1289 96.1259L27.6356 90.9177L25.9766 89.8007L22.4699 95.0089L24.1289 96.1259ZM27.5132 89.6521L27.5131 89.652L26.0989 91.0662L26.099 91.0663L27.5132 89.6521ZM53.1147 62.6362L26.0989 89.652L27.5131 91.0662L54.5289 64.0504L53.1147 62.6362Z" fill="#005563" mask="url(#path-7-inside-1_505_1446)"/>
                    <path d="M80.6196 25.4854L61.0527 45.0523" stroke="#005563"/>
                    <path d="M83.1714 28.0371L63.6044 47.6041" stroke="#005563"/>
                    <path d="M89.1274 33.9932L69.5605 53.5601" stroke="#005563"/>
                    <path d="M86.5747 31.4414L67.0077 51.0084" stroke="#005563"/>
                    </svg>


                .process-step
                    | шаг 5.
                .process-title
                    | МОНТАЖ
                .process-text
                    | Монтаж — один из важных этапов. Всё должно быть сделано идеально, чтобы кухня была безупречной.
        .process-item(data-scroll data-scroll-repeat data-scroll-offset="50%")
            .process-img
                img(src=`${baseDir}assets/images/process/6.jpg` alt='' data-scroll data-scroll-speed="-1.5")
            .process-content
                .process-svg.process-svg--6
                    <svg width="129" height="117" viewBox="0 0 129 117" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M19 95.6498C19 92.8611 20.2633 90.2226 22.4357 88.4741L54.3344 62.7995C57.7914 60.0171 62.0957 58.5 66.5334 58.5C78.0143 58.5 86.9987 68.3897 85.8998 79.8179L83.0471 109.486L30.8598 107.88C24.2516 107.677 19 102.261 19 95.6498Z" stroke="currentColor"/>
                    <circle cx="84.5" cy="86" r="23.5" fill="#F5F5F5" stroke="currentColor"/>
                    <circle cx="84.5" cy="86" r="18.5" stroke="currentColor"/>
                    <circle cx="85" cy="86" r="7.5" stroke="currentColor"/>
                    <mask id="path-5-inside-1_505_1445" fill="white">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M56.5437 79.5719L46.803 77.3096L41.3733 100.687L29.6844 97.9725C28.0705 97.5976 26.4583 98.6021 26.0835 100.216L25.1785 104.112C24.8037 105.726 25.8081 107.338 27.422 107.713L60.5405 115.405C62.1544 115.78 63.7666 114.776 64.1414 113.162L65.0464 109.265C65.4212 107.652 64.4168 106.039 62.8029 105.665L51.114 102.95L56.5437 79.5719Z"/>
                    </mask>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M56.5437 79.5719L46.803 77.3096L41.3733 100.687L29.6844 97.9725C28.0705 97.5976 26.4583 98.6021 26.0835 100.216L25.1785 104.112C24.8037 105.726 25.8081 107.338 27.422 107.713L60.5405 115.405C62.1544 115.78 63.7666 114.776 64.1414 113.162L65.0464 109.265C65.4212 107.652 64.4168 106.039 62.8029 105.665L51.114 102.95L56.5437 79.5719Z" fill="#F5F5F5"/>
                    <path d="M46.803 77.3096L47.0292 76.3355L46.0551 76.1093L45.8289 77.0833L46.803 77.3096ZM56.5437 79.5719L57.5178 79.7982L57.744 78.8241L56.7699 78.5979L56.5437 79.5719ZM41.3733 100.687L41.147 101.661L42.1211 101.888L42.3474 100.914L41.3733 100.687ZM29.6844 97.9725L29.4582 98.9465L29.6844 97.9725ZM51.114 102.95L50.1399 102.723L49.9137 103.698L50.8878 103.924L51.114 102.95ZM46.5767 78.2836L56.3175 80.546L56.7699 78.5979L47.0292 76.3355L46.5767 78.2836ZM42.3474 100.914L47.7771 77.5358L45.8289 77.0833L40.3992 100.461L42.3474 100.914ZM29.4582 98.9465L41.147 101.661L41.5995 99.7132L29.9107 96.9984L29.4582 98.9465ZM27.0576 100.442C27.3075 99.3663 28.3822 98.6966 29.4582 98.9465L29.9107 96.9984C27.7588 96.4986 25.6092 97.8379 25.1094 99.9897L27.0576 100.442ZM26.1526 104.338L27.0576 100.442L25.1094 99.9897L24.2045 103.886L26.1526 104.338ZM27.6483 106.739C26.5724 106.489 25.9027 105.414 26.1526 104.338L24.2045 103.886C23.7047 106.038 25.0439 108.187 27.1958 108.687L27.6483 106.739ZM60.7667 114.431L27.6483 106.739L27.1958 108.687L60.3143 116.379L60.7667 114.431ZM63.1674 112.936C62.9175 114.011 61.8427 114.681 60.7667 114.431L60.3143 116.379C62.4661 116.879 64.6157 115.54 65.1155 113.388L63.1674 112.936ZM64.0723 109.039L63.1674 112.936L65.1155 113.388L66.0204 109.492L64.0723 109.039ZM62.5766 106.639C63.6526 106.888 64.3222 107.963 64.0723 109.039L66.0204 109.492C66.5202 107.34 65.181 105.19 63.0291 104.69L62.5766 106.639ZM50.8878 103.924L62.5766 106.639L63.0291 104.69L51.3402 101.976L50.8878 103.924ZM55.5696 79.3457L50.1399 102.723L52.0881 103.176L57.5178 79.7982L55.5696 79.3457Z" fill="currentColor" mask="url(#path-5-inside-1_505_1445)"/>
                    <path d="M56.0143 0.810227C60.7913 1.07617 64.4099 4.33267 67.0998 9.00405C67.6741 10.0013 67.9645 11.1592 68.1249 12.2486C68.2906 13.3735 68.3465 14.6361 68.3283 15.9744C68.2919 18.6503 67.9542 21.8812 67.4274 25.3992C66.3716 32.4486 64.5056 40.9729 62.504 49.1584C60.4988 57.3584 58.3414 65.283 56.6868 71.153C55.8591 74.0894 55.1564 76.5148 54.6601 78.2074C54.5149 78.7028 54.3873 79.1356 54.2795 79.5L48.3303 78.2074C48.4628 77.7625 48.6569 77.3571 48.9025 76.5194C49.3937 74.8439 50.0906 72.4387 50.9118 69.5252C52.5551 63.6955 54.6926 55.8428 56.6757 47.7332C58.6624 39.6089 60.478 31.291 61.4935 24.5105C62.0023 21.1135 62.2977 18.1827 62.3288 15.8929C62.3444 14.7483 62.2927 13.8272 62.1889 13.1228C62.08 12.3829 61.9392 12.0659 61.9002 11.9981C59.6839 8.14909 57.5524 6.90514 55.6808 6.80095C53.6081 6.68556 50.6187 7.86154 46.5563 11.6855C45.7358 12.4578 44.4552 14.0411 42.7774 16.439C41.1369 18.7837 39.2249 21.7487 37.1461 25.1515C32.9904 31.9539 28.2247 40.4129 23.7162 48.9635C19.2061 57.517 14.9762 66.119 11.8823 73.2092C10.3339 76.7577 9.08788 79.8872 8.23462 82.4208C7.34342 85.067 6.99998 86.729 7 87.501C7.00013 91.9507 8.55354 94.2467 10.7071 95.4457C12.5802 96.4887 15.344 96.9536 19 96.5909C19.1667 97.8223 19.8 100.707 21 102.393C16.0233 103.088 11.413 102.706 7.78828 100.688C3.27684 98.176 1.00018 93.5505 1 87.5012C0.999945 85.6483 1.65645 83.1543 2.54843 80.5058C3.47833 77.7446 4.79866 74.4406 6.38308 70.8096C9.5549 63.5406 13.8563 54.799 18.4088 46.165C22.9628 37.5281 27.7909 28.9558 32.0259 22.0235C34.1424 18.559 36.125 15.4809 37.8613 12.9993C39.5605 10.5708 41.1392 8.54457 42.4438 7.31662C46.8811 3.1397 51.4385 0.555485 56.0143 0.810227Z" fill="#F5F5F5" stroke="currentColor"/>
                    <path d="M124.932 57.9974C118.81 59.2848 113.985 63.9251 112.692 69.8265C111.399 63.9249 106.573 59.2845 100.451 57.9972C106.572 56.7093 111.398 52.0671 112.692 46.1709C113.984 52.0698 118.81 56.71 124.932 57.9974Z" fill="#B48C45" stroke="currentColor"/>
                    </svg>


                .process-step
                    | шаг 6.
                .process-title
                    | УБОРКА
                .process-text
                    | Да, мы знаем, вам уже совсем не терпится наконец начать готовить на этой классной кухне. Но мы просто обязаны навести порядок после монтажа и передать вам всё в чистоте.
        .process-item(data-scroll data-scroll-repeat data-scroll-offset="50%")
            .process-img
                img(src=`${baseDir}assets/images/process/7.jpg` alt='' data-scroll data-scroll-speed="-1.5")
            .process-content
                .process-svg.process-svg--7
                    <svg width="90" height="131" viewBox="0 0 90 131" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M70.589 14.9974C64.547 16.2832 59.786 20.9136 58.5 26.7996C57.214 20.9134 52.4527 16.2829 46.4104 14.9972C52.4524 13.7109 57.2136 9.07859 58.4998 3.19782C59.7856 9.08127 64.5468 13.7115 70.589 14.9974Z" fill="#B48C45" stroke="#005563"/>
                    <mask id="path-2-outside-1_505_1444" maskUnits="userSpaceOnUse" x="0" y="25" width="30" height="106" fill="black">
                    <rect fill="white" y="25" width="30" height="106"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M6.59985 26H22.5999L25.7999 64.8V70C25.7999 75.6665 21.5918 80.3501 16.1301 81.0963L15.3998 88.3998V114.4L16.1998 125.2H12.9998L13.7998 114.4V88.3998L13.0694 81.0963C7.60788 80.3501 3.39985 75.6664 3.39985 70V64.8L6.59985 26ZM1.39734 128.385C1.17843 128.393 1 128.574 1 128.793C1 129.018 1.1825 129.2 1.40763 129.2H28.5859C28.8146 129.2 29 129.015 29 128.786C29 128.569 28.8263 128.388 28.6094 128.373C20.6958 127.811 20.2821 127.724 16.2 125.2H13C12.3892 125.515 11.855 125.796 11.3773 126.047C7.73537 127.963 7.37957 128.15 1.39734 128.385Z"/>
                    </mask>
                    <path d="M22.5999 26L23.5965 25.9178L23.5208 25H22.5999V26ZM6.59985 26V25H5.67893L5.60324 25.9178L6.59985 26ZM25.7999 64.8H26.7999V64.7588L26.7965 64.7178L25.7999 64.8ZM16.1301 81.0963L15.9948 80.1055L15.2136 80.2123L15.1351 80.9968L16.1301 81.0963ZM15.3998 88.3998L14.4048 88.3003L14.3998 88.35V88.3998H15.3998ZM15.3998 114.4H14.3998V114.437L14.4025 114.474L15.3998 114.4ZM16.1998 125.2V126.2H17.2766L17.1971 125.126L16.1998 125.2ZM12.9998 125.2L12.0025 125.126L11.923 126.2H12.9998V125.2ZM13.7998 114.4L14.7971 114.474L14.7998 114.437V114.4H13.7998ZM13.7998 88.3998H14.7998V88.35L14.7948 88.3003L13.7998 88.3998ZM13.0694 81.0963L14.0645 80.9968L13.986 80.2123L13.2048 80.1055L13.0694 81.0963ZM3.39985 64.8L2.40324 64.7178L2.39985 64.7588V64.8H3.39985ZM1.39734 128.385L1.35812 127.386H1.35809L1.39734 128.385ZM28.6094 128.373L28.6802 127.375H28.6802L28.6094 128.373ZM16.2 125.2L16.7258 124.35L16.4841 124.2H16.2V125.2ZM13 125.2V124.2H12.7575L12.542 124.311L13 125.2ZM11.3773 126.047L10.9118 125.162H10.9118L11.3773 126.047ZM22.5999 25H6.59985V27H22.5999V25ZM26.7965 64.7178L23.5965 25.9178L21.6032 26.0822L24.8032 64.8822L26.7965 64.7178ZM26.7999 70V64.8H24.7999V70H26.7999ZM16.2655 82.0871C22.2157 81.2742 26.7999 76.1732 26.7999 70H24.7999C24.7999 75.1597 20.9678 79.4261 15.9948 80.1055L16.2655 82.0871ZM16.3948 88.4993L17.1252 81.1958L15.1351 80.9968L14.4048 88.3003L16.3948 88.4993ZM16.3998 114.4V88.3998H14.3998V114.4H16.3998ZM17.1971 125.126L16.3971 114.326L14.4025 114.474L15.2025 125.274L17.1971 125.126ZM12.9998 126.2H16.1998V124.2H12.9998V126.2ZM12.8025 114.326L12.0025 125.126L13.9971 125.274L14.7971 114.474L12.8025 114.326ZM12.7998 88.3998V114.4H14.7998V88.3998H12.7998ZM12.0744 81.1958L12.8048 88.4993L14.7948 88.3003L14.0645 80.9968L12.0744 81.1958ZM2.39985 70C2.39985 76.1732 6.98389 81.2741 12.9341 82.0871L13.2048 80.1055C8.23188 79.426 4.39985 75.1597 4.39985 70H2.39985ZM2.39985 64.8V70H4.39985V64.8H2.39985ZM5.60324 25.9178L2.40324 64.7178L4.39647 64.8822L7.59647 26.0822L5.60324 25.9178ZM2 128.793C2 129.128 1.73702 129.372 1.43659 129.384L1.35809 127.386C0.619838 127.415 0 128.019 0 128.793H2ZM1.40763 128.2C1.73479 128.2 2 128.465 2 128.793H0C0 129.57 0.630215 130.2 1.40763 130.2V128.2ZM28.5859 128.2H1.40763V130.2H28.5859V128.2ZM28 128.786C28 128.463 28.2623 128.2 28.5859 128.2V130.2C29.3669 130.2 30 129.567 30 128.786H28ZM28.5386 129.37C28.2494 129.35 28 129.111 28 128.786H30C30 128.027 29.4032 127.426 28.6802 127.375L28.5386 129.37ZM15.6742 126.051C17.7095 127.309 18.9521 128.041 20.7215 128.491C22.4319 128.926 24.621 129.092 28.5387 129.37L28.6802 127.375C24.6842 127.091 22.7097 126.933 21.2143 126.553C19.7779 126.188 18.7726 125.615 16.7258 124.35L15.6742 126.051ZM13 126.2H16.2V124.2H13V126.2ZM11.8429 126.932C12.3207 126.681 12.8514 126.402 13.458 126.089L12.542 124.311C11.9269 124.628 11.3893 124.911 10.9118 125.162L11.8429 126.932ZM1.43656 129.384C4.40441 129.268 6.09443 129.162 7.50224 128.818C8.93584 128.468 10.0471 127.877 11.8429 126.932L10.9118 125.162C9.06556 126.133 8.17799 126.594 7.02764 126.875C5.85149 127.162 4.3725 127.267 1.35812 127.386L1.43656 129.384Z" fill="#005563" mask="url(#path-2-outside-1_505_1444)"/>
                    <path d="M5.21346 46.3477L4.56533 46.0416L4.50187 46.7555L2.90187 64.7555L2.8999 64.7776V64.7998V66.7998C2.8999 73.2616 8.13817 78.4998 14.5999 78.4998C21.0616 78.4998 26.2999 73.2616 26.2999 66.7998V64.7998V64.7776L26.2979 64.7555L24.6979 46.7555L24.6602 46.331L24.235 46.301C20.6496 46.0489 17.8982 46.5743 15.4727 47.0375C14.944 47.1385 14.4307 47.2365 13.9276 47.3229C11.1311 47.8029 8.59143 47.9434 5.21346 46.3477Z" fill="transparent" stroke="#005563"/>
                    <circle fill="transparent" r="1.7" transform="matrix(1 0 0 -1 9.4002 60.0002)" stroke="#005563"/>
                    <circle fill="transparent" r="0.9" transform="matrix(1 0 0 -1 7.7999 65.6)" stroke="#005563"/>
                    <circle fill="transparent" r="0.9" transform="matrix(1 0 0 -1 11.0001 70.4008)" stroke="#005563"/>
                    <mask id="path-8-outside-2_505_1444" maskUnits="userSpaceOnUse" x="18.673" y="19.6734" width="71.6537" height="108.817" fill="black">
                    <rect fill="white" x="18.673" y="19.6734" width="71.6537" height="108.817"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M25.0846 30.3861L39.6124 23.6821L58.7751 57.5711L60.9539 62.2926C63.3282 67.4377 61.4698 73.4536 56.8234 76.4196L59.2204 83.3571L70.1144 106.965L75.366 116.436L72.4604 117.777L68.6616 107.635L57.7676 84.0275L54.0443 77.702C48.7726 79.3128 42.9893 76.8233 40.6151 71.6783L38.4363 66.9567L25.0846 30.3861ZM63.2601 125.53C63.065 125.629 62.9784 125.868 63.0702 126.067C63.1645 126.271 63.4067 126.36 63.6111 126.266L88.2885 114.878C88.4962 114.782 88.5869 114.536 88.4911 114.329C88.4 114.131 88.1665 114.04 87.9632 114.117C80.5424 116.923 80.1302 117.017 75.3664 116.436L72.4608 117.777C72.0381 118.319 71.6708 118.797 71.3423 119.226C68.8382 122.491 68.5935 122.81 63.2601 125.53Z"/>
                    </mask>
                    <path d="M39.6124 23.6821L40.4828 23.1899L40.0295 22.3882L39.1934 22.7741L39.6124 23.6821ZM25.0846 30.3861L24.6656 29.4781L23.8294 29.864L24.1452 30.729L25.0846 30.3861ZM58.7751 57.5711L59.6831 57.1521L59.6659 57.1147L59.6456 57.0789L58.7751 57.5711ZM56.8234 76.4196L56.2853 75.5767L55.6207 76.0009L55.8782 76.7461L56.8234 76.4196ZM59.2204 83.3571L58.2752 83.6836L58.2915 83.7308L58.3124 83.7761L59.2204 83.3571ZM70.1144 106.965L69.2064 107.384L69.2219 107.417L69.2398 107.45L70.1144 106.965ZM75.366 116.436L75.785 117.344L76.7627 116.893L76.2406 115.951L75.366 116.436ZM72.4604 117.777L71.524 118.127L71.9017 119.136L72.8794 118.685L72.4604 117.777ZM68.6616 107.635L69.5981 107.284L69.5851 107.25L69.5696 107.216L68.6616 107.635ZM57.7676 84.0275L58.6756 83.6085L58.6547 83.5632L58.6294 83.5202L57.7676 84.0275ZM54.0443 77.702L54.9061 77.1947L54.5061 76.5152L53.7521 76.7456L54.0443 77.702ZM38.4363 66.9567L37.4969 67.2997L37.511 67.3384L37.5283 67.3757L38.4363 66.9567ZM63.2601 125.53L62.8058 124.639L62.8058 124.639L63.2601 125.53ZM87.9632 114.117L87.6095 113.182L87.6095 113.182L87.9632 114.117ZM75.3664 116.436L75.4874 115.443L75.2053 115.409L74.9474 115.528L75.3664 116.436ZM72.4608 117.777L72.0418 116.869L71.8216 116.97L71.6725 117.162L72.4608 117.777ZM71.3423 119.226L70.5488 118.617L70.5488 118.617L71.3423 119.226ZM39.1934 22.7741L24.6656 29.4781L25.5036 31.2941L40.0314 24.5901L39.1934 22.7741ZM59.6456 57.0789L40.4828 23.1899L38.7419 24.1743L57.9047 58.0633L59.6456 57.0789ZM61.8619 61.8736L59.6831 57.1521L57.8672 57.9901L60.046 62.7116L61.8619 61.8736ZM57.3614 77.2625C62.4235 74.0312 64.4485 67.4789 61.8619 61.8736L60.046 62.7116C62.2079 67.3966 60.516 72.876 56.2853 75.5767L57.3614 77.2625ZM60.1656 83.0305L57.7685 76.093L55.8782 76.7461L58.2752 83.6836L60.1656 83.0305ZM71.0224 106.546L60.1284 82.9381L58.3124 83.7761L69.2064 107.384L71.0224 106.546ZM76.2406 115.951L70.989 106.48L69.2398 107.45L74.4914 116.921L76.2406 115.951ZM72.8794 118.685L75.785 117.344L74.947 115.528L72.0414 116.869L72.8794 118.685ZM67.7252 107.986L71.524 118.127L73.3969 117.426L69.5981 107.284L67.7252 107.986ZM56.8596 84.4465L67.7536 108.054L69.5696 107.216L58.6756 83.6085L56.8596 84.4465ZM53.1825 78.2093L56.9058 84.5347L58.6294 83.5202L54.9061 77.1947L53.1825 78.2093ZM39.7071 72.0973C42.2937 77.7024 48.5932 80.4133 54.3365 78.6583L53.7521 76.7456C48.952 78.2123 43.685 75.9442 41.5231 71.2593L39.7071 72.0973ZM37.5283 67.3757L39.7071 72.0973L41.5231 71.2593L39.3442 66.5377L37.5283 67.3757ZM24.1452 30.729L37.4969 67.2997L39.3756 66.6138L26.0239 30.0431L24.1452 30.729ZM63.9782 125.648C64.1185 125.952 63.9823 126.284 63.7144 126.421L62.8058 124.639C62.1476 124.975 61.8382 125.784 62.1622 126.486L63.9782 125.648ZM63.1921 125.358C63.4892 125.221 63.8411 125.351 63.9782 125.648L62.1622 126.486C62.4879 127.192 63.3242 127.5 64.0301 127.174L63.1921 125.358ZM87.8695 113.97L63.1921 125.358L64.0301 127.174L88.7075 115.786L87.8695 113.97ZM87.5831 114.748C87.4475 114.454 87.5758 114.106 87.8695 113.97L88.7075 115.786C89.4167 115.459 89.7263 114.619 89.399 113.91L87.5831 114.748ZM88.3168 115.052C88.0456 115.155 87.7191 115.043 87.5831 114.748L89.399 113.91C89.0808 113.22 88.2874 112.925 87.6095 113.182L88.3168 115.052ZM75.2453 117.429C77.6205 117.718 79.0558 117.863 80.8508 117.53C82.5859 117.208 84.6432 116.441 88.3168 115.052L87.6095 113.182C83.8624 114.598 82.0031 115.282 80.486 115.563C79.0288 115.834 77.876 115.735 75.4874 115.443L75.2453 117.429ZM72.8798 118.685L75.7854 117.344L74.9474 115.528L72.0418 116.869L72.8798 118.685ZM72.1358 119.834C72.4644 119.406 72.8293 118.93 73.2492 118.392L71.6725 117.162C71.2468 117.707 70.8771 118.189 70.5488 118.617L72.1358 119.834ZM63.7144 126.421C66.3604 125.072 67.8505 124.267 68.9847 123.365C70.1396 122.446 70.9011 121.444 72.1358 119.834L70.5488 118.617C69.2793 120.273 68.6664 121.063 67.7397 121.8C66.7921 122.554 65.4933 123.269 62.8058 124.639L63.7144 126.421Z" fill="#005563" mask="url(#path-8-outside-2_505_1444)"/>
                    <path d="M32.3515 49.4428L31.6347 49.4364L31.8762 50.1113L37.9655 67.1254L37.9729 67.1463L37.9822 67.1665L38.8202 68.9824C41.5277 74.8496 48.4788 77.411 54.346 74.7036C60.2131 71.9961 62.7746 65.045 60.0671 59.1778L59.2291 57.3619L59.2198 57.3417L59.2088 57.3225L50.214 41.6491L50.0018 41.2794L49.6032 41.4304C46.242 42.7038 43.964 44.3337 41.9558 45.7705C41.5179 46.0837 41.0929 46.3878 40.6723 46.677C38.3343 48.2847 36.0872 49.4763 32.3515 49.4428Z" fill="transparent" stroke="#005563"/>
                    <circle fill="transparent" r="1.7" transform="matrix(0.907986 -0.419001 -0.419001 -0.907986 41.8734 60.0844)" stroke="#005563"/>
                    <circle fill="transparent" r="0.9" transform="matrix(0.907986 -0.419001 -0.419001 -0.907986 42.7669 65.8393)" stroke="#005563"/>
                    <circle fill="transparent" r="0.9" transform="matrix(0.907986 -0.419001 -0.419001 -0.907986 47.6834 68.8579)" stroke="#005563"/>
                    </svg>

                .process-step
                    | шаг 7.
                .process-title
                    | КУХНЯ ГОТОВА
                    span
                        | ЭТО НАДО ОТМЕТИТЬ!
                .process-text
                    | Ура! Скорее открывайте шампанское! Кухня готова! Вы сделали правильный выбор. Спасибо вам за доверие. С радостью будем ждать ваших теплых историй о кухне, которую мы с вами создали вместе.
