extends @pug/base

append globals
    - pageName = 'home'
    - title = data[pageName]?.meta?.title ?? data.general.title
    - description = data[pageName]?.meta?.description ?? data.general.description
    - image = data[pageName]?.meta?.image ?? data.general.image

append vars
    - meta.keywords = data[pageName]?.meta?.keywords ?? data.general.keywords

    each linkValue, linkKey in data.general.link
        - link[linkKey] = linkValue

    each metaValue, metaKey in data.general.meta
        - meta[metaKey] = metaValue

block content
    .popup-form.is-hidden(data-item="lead-form")
        .popup-form-bg
        .popup-form-content.is-hidden
            .form

                .title-md.title-white
                    | Оставьте свои#[br] контакты,#[br] и мы рассчитаем стоимость#[br] проекта для вас
                    .popup-form-close
                        <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12.5808 10.1823L2.39851 0L0 2.39851L10.1823 12.5808L0 22.7632L2.39851 25.1617L12.5808 14.9794L22.7632 25.1617L25.1617 22.7632L14.9794 12.5808L25.1617 2.39851L22.7632 1.3487e-06L12.5808 10.1823Z" fill="white"/>
                        </svg>
                .form-input
                    input(placeholder="Имя и фамилия")
                .form-container
                    .form-input
                        input(placeholder="Номер телефона")
                    .form-input
                        input(placeholder="E-mail")

                .form-textarea
                    textarea(placeholder="Комментарий")
                button.form-button(type="submit") отправить
                .form-text
                    | Нажимая кнопку «Отправить», вы соглашаетесь с #[a(href="") политикой конфиденциальности]
                .form-success.is-hidden
                    .form-success-svg
                        <svg width="146" height="146" viewBox="0 0 146 146" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M145.5 73C145.5 113.041 113.041 145.5 73 145.5C32.9594 145.5 0.5 113.041 0.5 73C0.5 32.9594 32.9594 0.5 73 0.5C113.041 0.5 145.5 32.9594 145.5 73Z" fill="transparent" stroke="white"/>
                        <path d="M140.496 72.8116V73.1258C103.449 73.3936 73.452 103.399 73.1847 140.493H72.8704C72.6029 103.399 42.5951 73.3933 5.50781 73.1258V72.8116C42.6046 72.5442 72.6025 42.5395 72.8703 5.50488H73.1847C73.4525 42.549 103.46 72.5438 140.496 72.8116Z" fill="transparent" stroke="white"/>
                        </svg>

                    .title-md.title-white
                        | Заявка отправлена!
                    .text-form
                        | Мы свяжемся с вами в кратчайшие сроки, обсудим детали и договоримся о дате выезда на бесплатный замер

    .site(data-scroll-container)
        include @components/header/header
        -
            const dataPortfolio = [
                {
                    title: 'Кухня Элегана',
                    text: 'от 150 000  ₽'
                },
                {
                    title: 'Кухня Элегана',
                    text: 'от 150 000  ₽'
                },
                {
                    title: 'Кухня Элегана',
                    text: 'от 150 000  ₽'
                },
                {
                    title: 'Кухня Элегана',
                    text: 'от 150 000  ₽'
                },
                {
                    title: 'Кухня Элегана',
                    text: 'от 150 000  ₽'
                },
                {
                    title: 'Кухня Элегана',
                    text: 'от 150 000  ₽'
                },
                {
                    title: 'Кухня Элегана',
                    text: 'от 150 000  ₽'
                },
                {
                    title: 'Кухня Элегана',
                    text: 'от 150 000  ₽'
                },
            ]
        .container
            ul.breadcrumbs
                li
                    a(href="/") Главная
                li
                    a(href='#')
                        | Проекты кухонь
            .title
                | проекты кухонь
            .text
                | Мы можем изготовить для вас кухню по готовому проекту. Для этого выберите один из проектов ниже и оставьте заявку. Мы перезвоним вам и уточним все детали, а затем посчитаем кухню по вашим размерам.
            .gallery.gallery--portfolio
                each item, index in dataPortfolio
                    .gallery-item(data-project=index + 1)
                        .gallery-img
                            .slider.slider--1.slider--xs
                                .slider-item
                                    img(src=`${baseDir}assets/images/project.jpg` alt='')
                                .slider-item
                                    img(src=`${baseDir}assets/images/project.jpg` alt='')
                                .slider-item
                                    img(src=`${baseDir}assets/images/project.jpg` alt='')
                                .slider-item
                                    img(src=`${baseDir}assets/images/project.jpg` alt='')
                        .title-xs
                            !=item.title
                        .text-xs
                            !=item.text
                        .gallery-link
                            | рассчитать стоимость
            .load-more
                | загрузить ещЁ
        .company
            .container
                .title.title--white
                    | отзывы
                .reviews
                    .reviews-slider
                        .reviews-card
                            .reviews-top
                                .reviews-left
                                    .reviews-img
                                        img(src=`${baseDir}assets/images/furniture/1.jpg` alt='')
                                    .reviews-title
                                        | Мария Александрова
                                .reviews-right
                                    a(href="" target="_blank")
                                        <svg width="58" height="58" viewBox="0 0 58 58" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <circle cx="29" cy="29" r="29" fill="#B48C45"/>
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M43.2938 22.25C43.5163 21.545 43.2938 21.0325 42.3094 21.0325H39.0363C38.2107 21.0325 37.8294 21.4812 37.6069 21.9612C37.6069 21.9612 35.9232 26.0612 33.5719 28.7194C32.8094 29.4881 32.46 29.7444 32.0469 29.7444C31.8244 29.7444 31.5381 29.4881 31.5381 28.7837V22.2169C31.5381 21.3844 31.2844 21 30.585 21H25.4375C24.9288 21 24.6113 21.3844 24.6113 21.7688C24.6113 22.5694 25.7869 22.7619 25.9138 25.0037V29.875C25.9138 30.9319 25.7263 31.125 25.31 31.125C24.1981 31.125 21.4975 26.9931 19.8775 22.285C19.5625 21.3525 19.2425 21 18.4163 21H15.1119C14.1588 21 14 21.4481 14 21.9288C14 22.7938 15.1119 27.1494 19.1788 32.9144C21.8794 36.8519 25.7238 38.9681 29.1869 38.9681C31.2844 38.9681 31.5381 38.4875 31.5381 37.6869V34.7081C31.5381 33.7475 31.7288 33.5875 32.3963 33.5875C32.8725 33.5875 33.7307 33.8431 35.6688 35.7331C37.8925 37.975 38.2738 39 39.5132 39H42.7857C43.7388 39 44.1838 38.5194 43.9294 37.5906C43.6438 36.6619 42.5632 35.3169 41.165 33.7156C40.4025 32.8194 39.2588 31.8262 38.9094 31.3456C38.4332 30.705 38.56 30.4488 38.9094 29.8725C38.8775 29.8725 42.8813 24.1713 43.2938 22.2475" fill="white"/>
                                        </svg>
                                    a(href="" target="_blank")
                                        <svg width="58" height="58" viewBox="0 0 58 58" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <circle cx="29" cy="29" r="29" fill="#B48C45"/>
                                        <path d="M39 29L22 38L22 20L39 29Z" fill="white"/>
                                        </svg>
                            .reviews-info
                                .text
                                    | Заказывали кухню! Мы в восторге! Все очень понравилось! Отношение на высоте, С дизайнером нам очень повезло, профессионал своего дела, кухня получилась функциональной, красивой и стильной. Отдельное спасибо ему за советы, помощь в выборе материалов и качественной техники! Привезли и установили все в срок, очень быстро и оперативно!
                                .text
                                    | Так же хотели выразить благодарность сборщику, очень приятный молодой человек, все было установлено быстро, мастерски и красиво!)
                                    | Было приятно работать) Получили массу положительных эмоций от создания проекта и от полученного результата!!!
                                .text
                                    | Так же хотели выразить благодарность сборщику, очень приятный молодой человек, все было установлено быстро, мастерски и красиво!)
                                    | Было приятно работать) Получили массу положительных эмоций от создания проекта и от полученного результата!!!
                            .reviews-more
                                | Показать ещё
                        .reviews-card
                            .reviews-top
                                .reviews-left
                                    .reviews-img
                                        img(src=`${baseDir}assets/images/furniture/1.jpg` alt='')
                                    .reviews-title
                                        | Мария Александрова
                                .reviews-right
                                    a(href="" target="_blank")
                                        <svg width="58" height="58" viewBox="0 0 58 58" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <circle cx="29" cy="29" r="29" fill="#B48C45"/>
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M43.2938 22.25C43.5163 21.545 43.2938 21.0325 42.3094 21.0325H39.0363C38.2107 21.0325 37.8294 21.4812 37.6069 21.9612C37.6069 21.9612 35.9232 26.0612 33.5719 28.7194C32.8094 29.4881 32.46 29.7444 32.0469 29.7444C31.8244 29.7444 31.5381 29.4881 31.5381 28.7837V22.2169C31.5381 21.3844 31.2844 21 30.585 21H25.4375C24.9288 21 24.6113 21.3844 24.6113 21.7688C24.6113 22.5694 25.7869 22.7619 25.9138 25.0037V29.875C25.9138 30.9319 25.7263 31.125 25.31 31.125C24.1981 31.125 21.4975 26.9931 19.8775 22.285C19.5625 21.3525 19.2425 21 18.4163 21H15.1119C14.1588 21 14 21.4481 14 21.9288C14 22.7938 15.1119 27.1494 19.1788 32.9144C21.8794 36.8519 25.7238 38.9681 29.1869 38.9681C31.2844 38.9681 31.5381 38.4875 31.5381 37.6869V34.7081C31.5381 33.7475 31.7288 33.5875 32.3963 33.5875C32.8725 33.5875 33.7307 33.8431 35.6688 35.7331C37.8925 37.975 38.2738 39 39.5132 39H42.7857C43.7388 39 44.1838 38.5194 43.9294 37.5906C43.6438 36.6619 42.5632 35.3169 41.165 33.7156C40.4025 32.8194 39.2588 31.8262 38.9094 31.3456C38.4332 30.705 38.56 30.4488 38.9094 29.8725C38.8775 29.8725 42.8813 24.1713 43.2938 22.2475" fill="white"/>
                                        </svg>
                                    a(href="" target="_blank")
                                        <svg width="58" height="58" viewBox="0 0 58 58" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <circle cx="29" cy="29" r="29" fill="#B48C45"/>
                                        <path d="M39 29L22 38L22 20L39 29Z" fill="white"/>
                                        </svg>
                            .reviews-info
                                .text
                                    | Заказывали кухню! Мы в восторге! Все очень понравилось! Отношение на высоте, С дизайнером нам очень повезло, профессионал своего дела, кухня получилась функциональной, красивой и стильной. Отдельное спасибо ему за советы, помощь в выборе материалов и качественной техники! Привезли и установили все в срок, очень быстро и оперативно!
                                .text
                                    | Так же хотели выразить благодарность сборщику, очень приятный молодой человек, все было установлено быстро, мастерски и красиво!)
                                    | Было приятно работать) Получили массу положительных эмоций от создания проекта и от полученного результата!!!
                                .text
                                    | Так же хотели выразить благодарность сборщику, очень приятный молодой человек, все было установлено быстро, мастерски и красиво!)
                                    | Было приятно работать) Получили массу положительных эмоций от создания проекта и от полученного результата!!!
                            .reviews-more
                                | Показать ещё
                        .reviews-card
                            .reviews-top
                                .reviews-left
                                    .reviews-img
                                        img(src=`${baseDir}assets/images/furniture/1.jpg` alt='')
                                    .reviews-title
                                        | Мария Александрова
                                .reviews-right
                                    a(href="" target="_blank")
                                        <svg width="58" height="58" viewBox="0 0 58 58" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <circle cx="29" cy="29" r="29" fill="#B48C45"/>
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M43.2938 22.25C43.5163 21.545 43.2938 21.0325 42.3094 21.0325H39.0363C38.2107 21.0325 37.8294 21.4812 37.6069 21.9612C37.6069 21.9612 35.9232 26.0612 33.5719 28.7194C32.8094 29.4881 32.46 29.7444 32.0469 29.7444C31.8244 29.7444 31.5381 29.4881 31.5381 28.7837V22.2169C31.5381 21.3844 31.2844 21 30.585 21H25.4375C24.9288 21 24.6113 21.3844 24.6113 21.7688C24.6113 22.5694 25.7869 22.7619 25.9138 25.0037V29.875C25.9138 30.9319 25.7263 31.125 25.31 31.125C24.1981 31.125 21.4975 26.9931 19.8775 22.285C19.5625 21.3525 19.2425 21 18.4163 21H15.1119C14.1588 21 14 21.4481 14 21.9288C14 22.7938 15.1119 27.1494 19.1788 32.9144C21.8794 36.8519 25.7238 38.9681 29.1869 38.9681C31.2844 38.9681 31.5381 38.4875 31.5381 37.6869V34.7081C31.5381 33.7475 31.7288 33.5875 32.3963 33.5875C32.8725 33.5875 33.7307 33.8431 35.6688 35.7331C37.8925 37.975 38.2738 39 39.5132 39H42.7857C43.7388 39 44.1838 38.5194 43.9294 37.5906C43.6438 36.6619 42.5632 35.3169 41.165 33.7156C40.4025 32.8194 39.2588 31.8262 38.9094 31.3456C38.4332 30.705 38.56 30.4488 38.9094 29.8725C38.8775 29.8725 42.8813 24.1713 43.2938 22.2475" fill="white"/>
                                        </svg>
                                    a(href="" target="_blank")
                                        <svg width="58" height="58" viewBox="0 0 58 58" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <circle cx="29" cy="29" r="29" fill="#B48C45"/>
                                        <path d="M39 29L22 38L22 20L39 29Z" fill="white"/>
                                        </svg>
                            .reviews-info
                                .text
                                    | Заказывали кухню! Мы в восторге! Все очень понравилось! Отношение на высоте, С дизайнером нам очень повезло, профессионал своего дела, кухня получилась функциональной, красивой и стильной. Отдельное спасибо ему за советы, помощь в выборе материалов и качественной техники! Привезли и установили все в срок, очень быстро и оперативно!
                                .text
                                    | Так же хотели выразить благодарность сборщику, очень приятный молодой человек, все было установлено быстро, мастерски и красиво!)
                                    | Было приятно работать) Получили массу положительных эмоций от создания проекта и от полученного результата!!!
                            .reviews-more
                                | Показать ещё

        include @components/footer/footer
